.post-form {
    position: relative;
    width: 90%;
}
.post-field {
    position: relative;
    /* VIEWPORT: 376px~414px, VALUES: 40px~50px */
    height: clamp(2.5rem, -3.684rem + 26.32vw, 3.125rem);
    width: 100%;
    margin-bottom: 35px;
}
.post-field input {
    height: 100%;
    width: 100%;
    padding: 0 35px;
    /* VIEWPORT: 281px~414px, VALUES: 14px~18px */
    font-size: clamp(0.875rem, 0.347rem + 3.01vw, 1.125rem);
    color: var(--text);
    border: none;
    outline: none;
    background-color: var(--background);
    border-radius: 0 0 0 0;
    border-bottom: 2px solid var(--text);
    transition: all 0.3s ease;
}
.post-field input:valid,
.post-field input:focus {
    border-bottom: 2px solid var(--accent);
}
::placeholder {
    color: var(--text);
    /* VIEWPORT: 281px~414px, VALUES: 16px~20px */
    font-size: clamp(1rem, 0.472rem + 3.01vw, 1.25rem);
}
.post-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color: var(--text);
    /* VIEWPORT: 281px~414px, VALUES: 22px~26px */
    font-size: clamp(1.375rem, 0.847rem + 3.01vw, 1.625rem);
    transition: all 0.3s ease;
}
.post-field i.show-hide {
    left: auto;
    right: 0;
    cursor: pointer;
}
.post-field input:valid ~ i,
.post-field input:focus ~ i {
    color: var(--accent);
}
.post-title {
    position: absolute;
    left: 35px;
    bottom: 50%;
    transform: translateY(50%);
    /* VIEWPORT: 281px~414px, VALUES: 14px~18px */
    font-size: clamp(0.875rem, 0.347rem + 3.01vw, 1.125rem);
    color: var(--secondary);
    pointer-events: none;
    transition: all 0.3s ease;
}
.post-field input:valid ~ .post-title,
.post-field input:focus ~ .post-title {
    left: 0;
    /* VIEWPORT: 375px~414px, VALUES: 34px~44px */
    bottom: clamp(2.125rem, -4.059rem + 26.32vw, 2.75rem);
    transform: unset;
    color: var(--accent);
    /* VIEWPORT: 281px~414px, VALUES: 10px~14px */
    font-size: clamp(0.625rem, 0.097rem + 3.01vw, 0.875rem);
}
.button-field {
    /* VIEWPORT: 376px~414px, VALUES: 40px~50px */
    height: clamp(2.5rem, -3.684rem + 26.32vw, 3.125rem);
    width: 100%;
}
.button-field input {
    height: 100%;
    width: 100%;
    background-color: var(--accent);
    border: none;
    border-radius: 6px;
    /* VIEWPORT: 281px~414px, VALUES: 20px~26px */
    font-size: clamp(1.25rem, 0.458rem + 4.51vw, 1.625rem);
    font-weight: 800;
    letter-spacing: 3px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}
.button-field input:hover {
    transform: scale(1.02);
}

.validate-field {
    position: relative;
    height: 40px;
    /* VIEWPORT: 376px~414px, VALUES: 12px~14px */
    font-size: clamp(0.75rem, -0.487rem + 5.26vw, 0.875rem);
    color: #e40a2d;
    z-index: 99;
}
.error-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    /* VIEWPORT: 376px~414px, VALUES: 16px~18px */
    font-size: clamp(1rem, -0.237rem + 5.26vw, 1.125rem);
}
.error-message {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 26px;
    white-space: nowrap;
}
