/* Google Fonts for Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    min-height: 0vw;
}
body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010718;
}

.hero-page {
    position: relative;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    width: 90%;
    max-width: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-page.inactive {
    display: none;
}

.hero-header {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
}
.bland-logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* VIEWPORT: 281px~414px, VALUES* 26px~30px */
    font-size: clamp(1.625rem, 1.097rem + 3.01vw, 1.875rem);
    color: #1e90ff;
}
.bland-name {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* VIEWPORT: 281px~414px, VALUES* 14px~18px */
    font-size: clamp(0.875rem, 0.347rem + 3.01vw, 1.125rem);
    font-weight: 600;
    color: #fff;
    transform: translateY(1px);
}

.hero-body {
    width: 100%;
    max-width: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* VIEWPORT: 376px~414px, VALUES: 10px~20px */
    row-gap: clamp(0.625rem, -5.559rem + 26.32vw, 1.25rem);
}
.hero-image {
    width: 100%;
}
.modal-button {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 18px;
    background-color: #1e90ff;
    border-radius: 30px;
    /* VIEWPORT: 281px~414px, VALUES:14px~22px */
    font-size: clamp(0.875rem, -0.181rem + 6.02vw, 1.375rem);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.modal-window {
    position: absolute;
    top: 0;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    width: 90%;
    max-width: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010718;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.modal-window.active {
    opacity: 1;
    visibility: visible;
}
.modal-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}
.close-icon {
    position: absolute;
    right: 0;
    bottom: 100%;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}
.welcome-image {
    width: 90%;
}
.anchor {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}
.anchor a {
    padding: 8px 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    border: 2px solid;
    transition: all 0.3s ease;
}
#login {
    color: #1e90ff;
    border-color: #1e90ff;
}
#login:hover {
    color: #fff;
    background-color: #1e90ff;
}
#signup {
    color: #fff;
    border-color: #fff;
}
#signup:hover {
    color: #000;
    background-color: #fff;
}
