/* Google Fonts for Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    min-height: 0vw;
}
html {
    position: relative;
    overflow: hidden;
}
body {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010718;
    overflow: hidden;
}
/* ==================================================================== */
.app-title {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.app-logo {
    /* VIEWPORT: 281px~414px, VALUES* 26px~30px */
    font-size: clamp(1.625rem, 1.097rem + 3.01vw, 1.875rem);
    color: #1e90ff;
}
.bland {
    /* VIEWPORT: 281px~414px, VALUES* 14px~18px */
    font-size: clamp(0.875rem, 0.347rem + 3.01vw, 1.125rem);
    font-weight: 600;
    color: #fff;
}
.hero-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 40px;
}
.hero-content.inactive {
    display: none;
}
.launching {
    position: relative;
    /* VIEWPORT: 281px~414px, VALUES: 28px~36px */
    font-size: clamp(1.75rem, 0.694rem + 6.02vw, 2.25rem);
    color: #fff;
    z-index: 99;
}
/* .caret {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #010718;
}
.caret::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: #1e90ff;
}
.caret.typing::before {
    opacity: 0;
}
@keyframes typing {
    40%, 60% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
} */
.main-img {
    height: 60vw;
    width: 60vw;
}
.play-button {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background-color: #1e90ff;
    border-radius: 40px;
    /* VIEWPORT: 281px~414px, VALUES:14px~22px */
    font-size: clamp(0.875rem, -0.181rem + 6.02vw, 1.375rem);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}
.play-button:hover {
    transform: scale(1.02);
}
/* ==================================================================== */
.modal {
    position: absolute;
    width: 90%;
    text-align: center;
    background-color: #010718;
    box-shadow: 0 0 0 100vh #010718;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.modal.active {
    opacity: 1;
    visibility: visible;
}
.close-icon {
    position: absolute;
    right: 0;
    bottom: 100%;
    font-size: 68px;
    color: #fff;
    cursor: pointer;
}
.welcome {
    width: 90%;
}
.modal .anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    margin-top: 30px;
}
.modal a {
    width: 150px;
    padding: 8px 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    border: 2px solid;
    transition: all 0.3s ease;
}
.modal a:first-of-type {
    color: #1e90ff;
    border-color: #1e90ff;
}
.modal a:first-of-type:hover {
    color: #fff;
    background-color: #1e90ff;
}
.modal a:last-of-type {
    color: #fff;
    border-color: #fff;
}
.modal a:last-of-type:hover {
    color: #000;
    background-color: #fff;
}
