/* Google Fonts for Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --background: #f1f5f9;
    --contents: #fff;
    --under-layer: #e9ecf1;
    --information: #a0a9c0;
    --pale: #8c96b0;
    --text: #0f0f0f;
    --primary: #4070f4;
    --secondary: #979dac;
    --danger: #ef233c;
    --accent: #1e90ff;
    --correct: #00c851;
    --incorrect: #ff4444;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    min-height: 0vw;
}
body {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--background);
}
.dark-mode {
    --background: #1a1a1d;
    --contents: #22252b;
    --under-layer: #313641;
    --information: #727c94;
    --pale: #a0a9c0;
    --text: #fefeff;
}

.home-container {
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.home-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    color: var(--text);
}
.home-icon {
    /* VIEWPORT: 281px~414px, VALUES: 26px~32px */
    font-size: clamp(1.625rem, 0.833rem + 4.51vw, 2rem);
}
.home-title {
    /* VIEWPORT: 281px~414px, VALUES: 22px~28px */
    font-size: clamp(1.375rem, 0.583rem + 4.51vw, 1.75rem);
    font-weight: 600;
}

.root-navigator {
    height: 100%;
    width: 95%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}
.nav-link {
    position: relative;
    height: 90%;
    width: 90%;
    padding: 10px;
    display: grid;
    grid-template-rows: 80% 20%;
    align-items: center;
    justify-items: center;
    background-color: var(--contents);
    border-radius: 20px;
    transition: all 0.3s;
}
.nav-link.presence {
    border: 2px solid var(--danger);
}
.nav-link:hover {
    transform: translateY(-2px);
}
.nav-image {
    height: 80%;
    width: 80%;
}
.nav-title {
    /* VIEWPORT: 281px~414px, VALUES: 16px~20px */
    font-size: clamp(0.875rem, 0.347rem + 3.01vw, 1.125rem);
    font-weight: 600;
    color: var(--text);
}
.notice {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--danger);
}
.notice.presence {
    display: flex;
}
.notice span {
    /* VIEWPORT: 281px~414px, VALUES: 16px~20px */
    font-size: clamp(1rem, 0.472rem + 3.01vw, 1.25rem);
    font-weight: 600;
    color: #fff;
}

@media screen and (min-width: 768px) and (orientation: portrait) {
    .home-container {
        padding: 30px 0;
    }

    .home-header {
        column-gap: 20px;
    }
    .home-icon {
        /* VIEWPORT: 768px~912px, VALUES: 60px~64px */
        font-size: clamp(3.75rem, 2.417rem + 2.78vw, 4rem);
    }
    .home-title {
        /* VIEWPORT: 768px~912px, VALUES: 40px~48px */
        font-size: clamp(2.5rem, -0.167rem + 5.56vw, 3rem);
        font-weight: 600;
    }

    .root-navigator {
        height: 90%;
        width: 95%;
    }
    .nav-link {
        height: 90%;
        width: 85%;
        padding: 20px 10px 10px;
        grid-template-rows: 80% 20%;
    }
    .nav-link.presence {
        border: 4px solid var(--danger);
    }
    .nav-title {
        /* VIEWPORT: 768px~912px, VALUES: 28px~32px */
        font-size: clamp(1.75rem, 0.417rem + 2.78vw, 2rem);
    }

    .notice {
        top: -20px;
        right: -20px;
        padding: 15px;
    }
    .notice span {
        /* VIEWPORT: 768px~912px, VALUES: 36px~40px */
        font-size: clamp(2.25rem, 0.917rem + 2.78vw, 2.5rem);
    }
}