.course-navigator {
    /* VIEWPORT: 376px~414px, VALUES: 80px~100px */
    height: calc(100% - clamp(5rem, -7.368rem + 52.63vw, 6.25rem));
    width: 90%;
    /* VIEWPORT: 376px~414px, VALUES: 80px~100px */
    margin-top: clamp(5rem, -7.368rem + 52.63vw, 6.25rem);
    padding: 20px 0;
    display: grid;
    grid-template-rows: 20% 20% 20% 20%;
    align-items: center;
    justify-items: center;
}
.learning {
    position: relative;
    height: 80%;
    width: 100%;
    /* VIEWPORT: 281px~414px, VALUES: 10px~20px */
    padding: 10px clamp(0.625rem, -0.695rem + 7.52vw, 1.25rem);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;
    background-color: var(--contents);
    border-radius: 12px;
    transition: all 0.5s;
}
.learning:hover {
    background-color: var(--c);
}
.quiz-icon {
    /* VIEWPORT: 281px~414px, VALUES: 36px~42px */
    font-size: clamp(2.25rem, 1.458rem + 4.51vw, 2.625rem);
    color: var(--c);
    transition: all 0.5s;
}
.quiz-title {
    /* VIEWPORT: 281px~414px, VALUES: 20px~28px */
    font-size: clamp(1.25rem, 0.194rem + 6.02vw, 1.75rem);
    font-weight: 600;
    color: var(--c);
    transition: all 0.5s;
}
.challenge-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.challenge-icon {
    /* VIEWPORT: 281px~414px, VALUES: 32px~38px */
    font-size: clamp(2rem, 1.208rem + 4.51vw, 2.375rem);
    color: var(--c);
    transition: all 0.5s;
}
.challenge-text {
    /* VIEWPORT: 281px~414px, VALUES: 10px~14px */
    font-size: clamp(0.625rem, 0.097rem + 3.01vw, 0.875rem);
    color: var(--c);
    transition: all 0.5s;
}
.learning:hover .quiz-icon,
.learning:hover .quiz-title,
.learning:hover .challenge-icon, 
.learning:hover .challenge-text {
    color: #fff;
}

@media screen and (min-width: 768px) and (orientation: portrait) {
    .learning {
        padding: 20px 30px;
    }
    .quiz-icon {
        /* VIEWPORT: 768px~912px, VALUES: 70px~80px */
        font-size: clamp(4.375rem, 1.042rem + 6.94vw, 5rem);
        font-weight: 600;
    }
    .quiz-title {
        /* VIEWPORT: 768px~912px, VALUES: 48px~52px */
        font-size: clamp(3rem, 1.667rem + 2.78vw, 3.25rem);
    }
    .challenge-icon {
        /* VIEWPORT: 768px~912px, VALUES: 65px~75px */
        font-size: clamp(4.063rem, 0.729rem + 6.94vw, 4.688rem);
    }
    .challenge-text {
        /* VIEWPORT: 768px~912px, VALUES: 24px~28px */
        font-size: clamp(1.5rem, 0.167rem + 2.78vw, 1.75rem);
    }
}
