/* Google Fonts for Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --background: #e1eaf7;
    --text: #171717;
    --contents: #fff;
    --primary: #4070f4;
    --secondary: #979dac;
    --danger: #ef233c;
    --accent: #2196f3;
    --correct: #00c851;
    --incorrect: #ff4444;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    min-height: 0vw;
}
body {
    position: relative;
    /* VIEWPORT: 376px~414px, VALUES: 60px~80px */
    height: calc(100vh - clamp(3.75rem, -8.618rem + 52.63vw, 5rem));
    width: 100vw;
    /* VIEWPORT: 376px~414px, VALUES: 60px~80px */
    margin-top: clamp(3.75rem, -8.618rem + 52.63vw, 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}
.dark-mode {
    --background: #181a1e;
    --text: #fff;
    --contents: #202528;
}
/* ==================================================================== */
.root-header {
    position: fixed;
    top: 0;
    /* VIEWPORT: 376px~414px, VALUES: 60px~80px */
    height: clamp(3.75rem, -8.618rem + 52.63vw, 5rem);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.browser-back span{
    /* VIEWPORT: 281px~414px, VALUES: 32px~40px */
    font-size: clamp(2rem, 0.944rem + 6.02vw, 2.5rem);
    font-weight: 600;
    color: var(--text);
}
.header-title {
    /* VIEWPORT: 281px~414px, VALUES: 22px~26px */
    font-size: clamp(1.375rem, 0.847rem + 3.01vw, 1.625rem);
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--text);
}
/* ==================================================================== */
.learnings {
    height: 95%;
    width: 90%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    align-items: center;
}
.learning {
    position: relative;
    height: 85%;
    width: 100%;
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: center;
    justify-items: center;
    background-color: var(--c);
    border-radius: 12px;
    transition: transform 0.3s;
}
.learning:hover {
    transform: scale(1.02);
}
.detail {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* VIEWPORT: 281px~375px, VALUES: 10px~20px */
    padding-left: clamp(0.625rem, -1.243rem + 10.64vw, 1.25rem);
    white-space: nowrap;
    /* VIEWPORT: 281px~414px, VALUES: 14px~18px */
    font-size: clamp(0.875rem, 0.347rem + 3.01vw, 1.125rem);
    font-weight: 600;
    color: #fff;
    z-index: 99;
}
.rank {
    /* VIEWPORT: 376px~414px, VALUES: 28px~34px */
    font-size: clamp(1.75rem, -1.961rem + 15.79vw, 2.125rem);
    font-weight: 700;
    letter-spacing: 2px;
}
.progress-circular {
    position: relative;
    height: 75%;
    width: 0;
    border-radius: 50%;
    background: conic-gradient(#fff 0deg, var(--bg) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-circular::before {
    content: "";
    position: absolute;
    height: 87%;
    width: 87%;
    border-radius: 50%;
    background-color: var(--c);
}
.parameter {
    /* VIEWPORT: 376px~414px, VALUES: 16px~24px */
    font-size: clamp(1rem, -3.947rem + 21.05vw, 1.5rem);
    font-weight: 700;
    color:#fff;
    z-index: 99;
}
