/* Google Fonts for Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --background: #e1eaf7;
    --text: #171717;
    --contents: #fff;
    --primary: #4070f4;
    --secondary: #979dac;
    --danger: #ef233c;
    --accent: #2196f3;
    --correct: #00c851;
    --incorrect: #ff4444;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    min-height: 0vw;
}
body {
    position: relative;
    height: calc(100vh - 100px);
    width: 100vw;
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--background);
}
.dark-mode {
    --background: #181a1e;
    --text: #fff;
    --contents: #202528;
}
/* ========================================================= */
.result-header {
    position: fixed;
    top: 20px;
    height: 80px;
    width: 90%;
    max-width: 415px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.quit-icon {
    /* VIEWPORT: 281px~414px, VALUES: 30px~38px */
    font-size: clamp(1.875rem, 0.819rem + 6.02vw, 2.375rem);
    font-weight: 700;
    color: var(--text);
}
/* ========================================================= */
.result {
    width: 90%;
    max-width: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.result-image {
    /* VIEWPORT: 281px~414px, VALUES: 200px~300px */
    width: clamp(12.5rem, -0.705rem + 75.19vw, 18.75rem);
}
#result-comment {
    /* VIEWPORT: 376px~414px, VALUES: 20px~30px */
    margin-top: clamp(1.25rem, -4.934rem + 26.32vw, 1.875rem);
    color: var(--correct);
    /* VIEWPORT: 281px~414px, VALUES: 28px~34px */
    font-size: clamp(1.75rem, 0.958rem + 4.51vw, 2.125rem);
    white-space: nowrap;
    letter-spacing: 2px;
}
.scoreboard {
    /* VIEWPORT: 376px~414px, VALUES: 10px~20px */
    margin-top: clamp(0.625rem, -5.559rem + 26.32vw, 1.25rem);
    width: 100%;
    text-align: center;
    color: var(--text);
}
.scoreboard span {
    /* VIEWPORT: 281px~414px, VALUES: 40px~50px */
    font-size: clamp(2.5rem, 1.18rem + 7.52vw, 3.125rem);
    font-weight: 700;
    letter-spacing: 3px;
}
#user-score {
    color: var(--correct);
}
#max-score {
    color: var(--secondary);
}
.result-form {
    width: 100%;
    /* VIEWPORT: 376px~414px, VALUES: 20px~30px */
    margin-top: clamp(1.25rem, -4.934rem + 26.32vw, 1.875rem);
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.result-form span,
.result-form a {
    width: 100%;
    padding: 15px 0;
    border-radius: 8px;
    /* VIEWPORT: 376px~414px, VALUES: 16px~18px */
    font-size: clamp(1rem, -0.237rem + 5.26vw, 1.125rem);
    font-weight: 600;
    transition: all 0.3s;
}
.result-form span:hover,
.result-form a:hover {
    transform: scale(1.02);
}
#review {
    background-color: var(--contents);
    color: var(--text);
    cursor: pointer;
}
#return {
    background-color: var(--accent);
    color: #fff;
}
