/* Google Fonts for Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --background: #e1eaf7;
    --text: #171717;
    --contents: #fff;
    --primary: #4070f4;
    --secondary: #979dac;
    --danger: #ef233c;
    --accent: #1e90ff;
    --correct: #00c851;
    --incorrect: #ff4444;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    min-height: 0vw;
}
body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}
.dark-mode {
    --background: #181a1e;
    --text: #fff;
    --contents: #202528;
}

.result-page {
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 90%;
    max-width: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result-page.inactive {
    display: none;
}

.result-header {
    position: absolute;
    top: 0;
    /* VIEWPORT: 376px~414px, VALUES: 60px~80px */
    height: clamp(3.75rem, -8.618rem + 52.63vw, 5rem);
    width: 100%;
    max-width: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* VIEWPORT: 281px~414px, VALUES: 24px~32px */
    font-size: clamp(1.5rem, 0.444rem + 6.02vw, 2rem);
    font-weight: 800;
    color: var(--text);
}
/* .result-title {
    position: relative;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    VIEWPORT: 281px~414px, VALUES: 24px~32px
    font-size: clamp(1.5rem, 0.444rem + 6.02vw, 2rem);
    font-weight: 600;
    color: var(--text);
}
#exit-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#exit-icon span {
    VIEWPORT: 281px~414px, VALUES: 30px~38px
    font-size: clamp(1.875rem, 0.819rem + 6.02vw, 2.375rem);
    font-weight: 600;
    color: var(--text);
} */

.result-body {
    position: relative;
    /* VIEWPORT: 376px~414px, VALUES: 60px~80px */
    height: calc(100% - clamp(3.75rem, -8.618rem + 52.63vw, 5rem));
    width: 100%;
    /* VIEWPORT: 376px~414px, VALUES: 60px~80px */
    margin-top: clamp(3.75rem, -8.618rem + 52.63vw, 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.result-container {
    position: relative;
    height: 100%;
    width: 100%;
    /* VIEWPORT: 376px~414px, VALUES: 20px~30px */
    padding-bottom: clamp(1.25rem, -4.934rem + 26.32vw, 1.875rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* VIEWPORT: 376px~414px, VALUES: 20px~30px */
    row-gap: clamp(1.25rem, -4.934rem + 26.32vw, 1.875rem);
}
#result-word {
    /* VIEWPORT: 281px~414px, VALUES: 30px~42px */
    font-size: clamp(1.875rem, 0.29rem + 9.02vw, 2.625rem);
    font-weight: 800;
    letter-spacing: 2px;
    white-space: nowrap;
    color: var(--correct);
}
#trophy-image {
    width: 60%;
}
#scoreboard {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: var(--secondary);
}
#scoreboard span {
    /* VIEWPORT: 281px~414px, VALUES: 40px~50px */
    font-size: clamp(2.5rem, 1.18rem + 7.52vw, 3.125rem);
    font-weight: 700;
    letter-spacing: 3px;
}
#user-score {
    color: var(--correct);
}
.next-content {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: center;
    justify-content: space-around;
}
.next-content #review-button, 
.next-content #continue-button {
    width: 100%;
    /* VIEWPORT: 281px~376px, VALUES: 10px~15px */
    padding: clamp(0.625rem, -0.299rem + 5.26vw, 0.938rem) 0;
    border: none;
    outline: none;
    border-radius: 12px;
    text-align: center;
    text-transform: uppercase;
    /* VIEWPORT: 281px~414px, VALUES: 16px~20px */
    font-size: clamp(1rem, 0.472rem + 3.01vw, 1.25rem);
    font-weight: 800;
    cursor: pointer;
}
#review-button {
    background-color: var(--contents);
    color: var(--text);
}
#continue-button {
    background-color: var(--accent);
    color: #fff;
}
#close-icon {
    position: absolute;
    /* VIEWPORT: 376px~414px, VALUES: 10px~20px */
    top: calc(100% + clamp(0.625rem, -5.559rem + 26.32vw, 1.25rem));
    left: 50%;
    transform: translateX(-50%);
    height: 85%;
    cursor: pointer;
}

.review-window {
    position: absolute;
    height: 90%;
    width: 90%;
    max-width: 415px;
    background-color: rebeccapurple;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s;
}
.review-window.active {
    visibility: visible;
    opacity: 1;
}

/* ========================================================= */
.reviewee {
    position: absolute;
    top: 80px;
    width: 100%;
    max-width: 415px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    z-index: 100;
    visibility: hidden;
    transform: translateY(-2000px);
    transition: all 0.8s;
}
.reviewee.active {
    visibility: visible;
    transform: translateY(0);
}
.close-icon {
    /* VIEWPORT: 281px~414px, VALUES: 30px~38px */
    font-size: clamp(1.875rem, 0.819rem + 6.02vw, 2.375rem);
    font-weight: 700;
    color: var(--text);
    cursor: pointer;
    display: none;
}
.close-icon.active {
    display: block;
}
.reviewee-container {
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    overflow-y: scroll;
}
.reviewee-card {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    background-color: var(--contents);
    border-radius: 12px;
}
.reviewee-card.correct {
    border: 2px solid var(--correct);
}
.reviewee-card.incorrect {
    border: 2px solid var(--incorrect);
}
.quiz-word {
    position: relative;
    width: 80%;
    text-align: start;
    color: var(--text);
    /* VIEWPORT: 281px~414px, VALUES: 26px~30px */
    font-size: clamp(1.625rem, 1.097rem + 3.01vw, 1.875rem);
    font-weight: 800;
}
.speak-icon,
.edit-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    /* VIEWPORT: 281px~414px, VALUES: 26px~30px */
    font-size: clamp(1.625rem, 1.097rem + 3.01vw, 1.875rem);
    color: var(--text);
    z-index: 99;
    cursor: pointer;
}
.quiz-answer {
    position: relative;
    width: 80%;
    text-align: start;
    color: var(--secondary);
    /* VIEWPORT: 281px~414px, VALUES: 14px~18px */
    font-size: clamp(0.875rem, 0.347rem + 3.01vw, 1.125rem);
}
.edit-form {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(100, 100, 100, 0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.edit-form.active {
    opacity: 1;
    visibility: visible;
}
.edit-field {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: var(--contents);
    color: var(--text);
}
.edit-field input,
.edit-field button {
    border: none;
    outline: none;
    padding: 5px;
    /* VIEWPORT: 281px~414px, VALUES: 14px~18px */
    font-size: clamp(0.875rem, 0.347rem + 3.01vw, 1.125rem);
}
.edit-field p {
    width: 100%;
    text-align: start;
    color: var(--secondary);
    /* VIEWPORT: 281px~375px, VALUES: 12px~14px */
    font-size: clamp(0.75rem, 0.376rem + 2.13vw, 0.875rem);
    margin-bottom: 20px;
}
.edit-field span {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.edit-field button {
    background-color: var(--primary);
    color: var(--text);
}
