/* Google Fonts for Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --background: #e1eaf7;
    --text: #171717;
    --contents: #fff;
    --primary: #4070f4;
    --secondary: #979dac;
    --danger: #ef233c;
    --accent: #1e90ff;
    --correct: #00c851;
    --incorrect: #ff4444;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    min-height: 0vw;
}
body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}
.dark-mode {
    --background: #181a1e;
    --text: #fff;
    --contents: #202528;
}

.quiz-page {
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 90%;
    max-width: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-header {
    position: absolute;
    top: 0;
    /* VIEWPORT: 376px~414px, VALUES: 80px~90px */
    height: clamp(5rem, -1.184rem + 26.32vw, 5.625rem);
    width: 100%;
    max-width: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.quiz-title {
    height: calc(100% - 3px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.quiz-title span {
    width: 100%;
    text-align: start;
}
.quiz-name {
    /* VIEWPORT: 376px~414px, VALUES: 14px~16px */
    font-size: clamp(0.875rem, -0.362rem + 5.26vw, 1rem);
    color: var(--secondary);
    transform: translateY(5px);
}
.quiz-number {
    /* VIEWPORT: 376px~414px, VALUES: 20px~22px */
    font-size: clamp(1.25rem, 0.013rem + 5.26vw, 1.375rem);
    font-weight: 600;
    color: var(--text);
}
.current-number {
    /* VIEWPORT: 376px~414px, VALUES: 30px~32px */
    font-size: clamp(1.875rem, 0.638rem + 5.26vw, 2rem);
}
.max-number {
    font-weight: 400;
    color: var(--secondary);
}
.quiz-progress {
    height: 3px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}
.line {
    height: 100%;
    width: 10%;
    background-color: var(--secondary);
}
.line.current {
    background-color: #fff;
}
.line.correct {
    background-color: var(--correct);
}
.line.incorrect {
    background-color: var(--incorrect);
}

.quiz-body {
    position: relative;
    /* VIEWPORT: 376px~414px, VALUES: 80px~90px */
    height: calc(100% - clamp(5rem, -1.184rem + 26.32vw, 5.625rem));
    width: 100%;
    /* VIEWPORT: 376px~414px, VALUES: 80px~90px */
    margin-top: clamp(5rem, -1.184rem + 26.32vw, 5.625rem);
    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz-container {
    position: relative;
    /* VIEWPORT: 376px~414px, VALUES: 10px~20px */
    height: calc(100% - clamp(0.625rem, -5.559rem + 26.32vw, 1.25rem));
    width: 100%;
    /* VIEWPORT: 376px~414px, VALUES: 10px~20px */
    margin-top: clamp(0.625rem, -5.559rem + 26.32vw, 1.25rem);
    /* VIEWPORT: 376px~414px, VALUES: 20px~30px */
    padding-bottom: clamp(1.25rem, -4.934rem + 26.32vw, 1.875rem);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.quiz-content {
    width: 100%;
    /* VIEWPORT: 376px~414px, VALUES: 30px~40px */
    margin-bottom: clamp(1.875rem, -4.309rem + 26.32vw, 2.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* VIEWPORT: 376px~414px, VALUES: 20px~30px */
    row-gap: clamp(1.25rem, -4.934rem + 26.32vw, 1.875rem);
    color: var(--text);
}
.statement {
    width: 100%;
    text-align: start;
    /* VIEWPORT: 281px~414px, VALUES: 14px~16px */
    font-size: clamp(0.875rem, 0.347rem + 3.01vw, 1.125rem);
}
.statement span {
    display: block;
    /* VIEWPORT: 376px~414px, VALUES: 14px~16px */
    font-size: clamp(0.875rem, -0.362rem + 5.26vw, 1rem);
    color: var(--secondary);
}
.english-word {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    /* VIEWPORT: 281px~414px, VALUES: 30px~36px */
    font-size: clamp(1.875rem, 1.083rem + 4.51vw, 2.25rem);
    font-weight: 800;
}
.speak-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    /* VIEWPORT: 281px~414px, VALUES: 26px~30px */
    font-size: clamp(1.625rem, 1.097rem + 3.01vw, 1.875rem);
    color: var(--secondary);
    z-index: 99;
    cursor: pointer;
}
.options-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* VIEWPORT: 376px~414px, VALUES: 30px~40px */
    row-gap: clamp(1.875rem, -4.309rem + 26.32vw, 2.5rem);
}
.japanese-word {
    position: relative;
    /* VIEWPORT: 281px~375px, VALUES: 40px~50px */
    height: clamp(2.5rem, 0.651rem + 10.53vw, 3.125rem);
    width: 100%;
}
.japanese-word input {
    height: 100%;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    background-color: var(--contents);
    border-radius: 8px;
    /* VIEWPORT: 281px~414px, VALUES: 14px~18px */
    font-size: clamp(0.875rem, 0.347rem + 3.01vw, 1.125rem);
    color: var(--text);
    cursor: pointer;
}
.japanese-word input.correct {
    border: 2px solid var(--correct);
}
.japanese-word input.incorrect {
    border: 2px solid var(--incorrect);
}
.options-content.none-events .japanese-word input {
    pointer-events: none;
}
.answer-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    /* VIEWPORT: 281px~414px, VALUES* 32px~40px */
    font-size: clamp(2rem, 0.944rem + 6.02vw, 2.5rem);
}
.answer-image.correct {
    color: var(--correct);
}
.answer-image.incorrect {
    color: var(--incorrect);
}
.next-content {
    position: relative;
    /* VIEWPORT: 281px~375px, VALUES: 40px~50px */
    height: clamp(2.5rem, 0.651rem + 10.53vw, 3.125rem);
    width: 100%;
    /* VIEWPORT: 376px~414px, VALUES: 30px~40px */
    margin-top: clamp(1.875rem, -4.309rem + 26.32vw, 2.5rem);
    display: none;
}
.next-content.active {
    display: block;
}
.next-button {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: var(--accent);
    border-radius: 8px;
    /* VIEWPORT: 281px~414px, VALUES: 14px~18px */
    font-size: clamp(0.875rem, 0.347rem + 3.01vw, 1.125rem);
    color: #fff;
    cursor: pointer;
}
