/* Google Fonts for Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --background: #e1eaf7;
    --text: #171717;
    --contents: #fff;
    --primary: #4070f4;
    --secondary: #979dac;
    --danger: #ef233c;
    --accent: #2196f3;
    --correct: #00c851;
    --incorrect: #ff4444;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    min-height: 0vw;
}
body {
    position: relative;
    /* VIEWPORT: 376px~414px, VALUES: 60px~80px */
    height: calc(100vh - clamp(3.75rem, -8.618rem + 52.63vw, 5rem));
    width: 100vw;
    /* VIEWPORT: 376px~414px, VALUES: 60px~80px */
    margin-top: clamp(3.75rem, -8.618rem + 52.63vw, 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}
.dark-mode {
    --background: #181a1e;
    --text: #fff;
    --contents: #202528;
}
/* ==================================================================== */
.root-header {
    position: fixed;
    top: 0;
    /* VIEWPORT: 376px~414px, VALUES: 60px~80px */
    height: clamp(3.75rem, -8.618rem + 52.63vw, 5rem);
    width: 90%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.browser-back span{
    /* VIEWPORT: 281px~414px, VALUES: 32px~40px */
    font-size: clamp(2rem, 0.944rem + 6.02vw, 2.5rem);
    font-weight: 600;
    color: var(--text);
}
.header-title {
    /* VIEWPORT: 281px~414px, VALUES: 22px~26px */
    font-size: clamp(1.375rem, 0.847rem + 3.01vw, 1.625rem);
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--text);
}
/* ========================================================= */
.settings {
    position: relative;
    height: calc(100% - 30px);
    width: 90%;
    max-width: 600px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 5px;
}
.user-content {
    position: relative;
    /* VIEWPORT: 376px~414px, VALUES: 80px~100px */
    height: clamp(5rem, -7.368rem + 52.63vw, 6.25rem);
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    background-color: var(--contents);
    border-radius: 6px;
}
.user-icon {
    height: 50%;
}
.user-info {
    position: relative;
    /* VIEWPORT: 281px~414px, VALUES: 14px~18px */
    font-size: clamp(0.875rem, 0.347rem + 3.01vw, 1.125rem);
    color: var(--secondary);
}
#user-id {
    margin-right: 10px;
}
#username {
    /* VIEWPORT: 281px~414px, VALUES: 16px~20px */
    font-size: clamp(1rem, 0.472rem + 3.01vw, 1.25rem);
    color: var(--text);
}
.setting {
    position: relative;
    width: 100%;
    padding: 15px 10px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--contents);
    border-radius: 6px;
    color: var(--text);
}
.setting-icon {
    /* VIEWPORT: 376px~414px, VALUES: 26px~32px */
    font-size: clamp(1.625rem, -2.086rem + 15.79vw, 2rem);
}
.setting-title {
    width: 100%;
    text-align: start;
    padding-left: 10px;
    /* VIEWPORT: 281px~414px, VALUES: 14px~18px */
    font-size: clamp(0.875rem, 0.347rem + 3.01vw, 1.125rem);
    white-space: nowrap;
}
.access-icon {
    /* VIEWPORT: 281px~376px, VALUES: 30px~32px */
    font-size: clamp(1.875rem, 1.505rem + 2.11vw, 2rem);
}
.switch-bar {
    position: absolute;
    right: 15px;
    /* VIEWPORT: 376px~414px, VALUES: 30px~34px */
    height: clamp(1.875rem, -0.599rem + 10.53vw, 2.125rem);
    /* VIEWPORT: 376px~414px, VALUES: 60px~70px */
    width: clamp(3.75rem, -2.434rem + 26.32vw, 4.375rem);
    background-color: var(--background);
    border-radius: 20px;
    cursor: pointer;
}
.language .switch,
.color-theme .switch {
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    /* VIEWPORT: 376px~414px, VALUES: 24px~28px */
    height: clamp(1.5rem, -0.974rem + 10.53vw, 1.75rem);
    width: clamp(1.5rem, -0.974rem + 10.53vw, 1.75rem);
    background-color: var(--contents);
    border-radius: 50%;
    transition: left 0.5s ease;
}
.dark-mode .color-theme .switch {
    /* VIEWPORT: 376px~414px, VALUES: 24px~28px */
    left: calc(100% - clamp(1.5rem, -0.974rem + 10.53vw, 1.75rem) - 4px);
}
