.settings-body {
    position: relative;
    /* VIEWPORT: 376px~414px, VALUES: 80px~100px */
    height: calc(100% - clamp(5rem, -7.368rem + 52.63vw, 6.25rem));
    width: 90%;
    /* VIEWPORT: 376px~414px, VALUES: 80px~100px */
    margin-top: clamp(5rem, -7.368rem + 52.63vw, 6.25rem);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 8px;
}
.user-info-content {
    position: relative;
    /* VIEWPORT: 376px~414px, VALUES: 50px~55px */
    height: calc(clamp(3.125rem, 0.033rem + 13.16vw, 3.438rem) * 2.2);
    width: 100%;
    margin: 10px 0 25px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    background-color: var(--contents);
    border-radius: 8px;
}
.user-icon {
    height: 55%;
}
#user-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 5px;
    /* VIEWPORT: 281px~414px, VALUES: 12px~16px */
    font-size: clamp(0.75rem, 0.222rem + 3.01vw, 1rem);
    font-weight: 600;
}
#user-id {
    color: var(--secondary);
}
#username {
    /* VIEWPORT: 281px~414px, VALUES: 14px~18px */
    font-size: clamp(0.875rem, 0.347rem + 3.01vw, 1.125rem);
    color: var(--text);
}
.medal {
    position: absolute;
    top: 0;
    right: 10px;
    /* VIEWPORT: 376px~414px, VALUES: 50px~55px */
    height: calc(clamp(3.125rem, 0.033rem + 13.16vw, 3.438rem) * 2.2 * 0.55 / 1.5);
}
.medal.inactive {
    display: none;
}
.setting {
    position: relative;
    /* VIEWPORT: 376px~414px, VALUES: 50px~55px */
    height: clamp(3.125rem, 0.033rem + 13.16vw, 3.438rem);
    width: 100%;
    /* VIEWPORT: 281px~414px, VALUES: 15px~20px */
    padding: 10px 10px 10px clamp(0.938rem, 0.003rem + 5.32vw, 1.25rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--contents);
    border-radius: 6px;
    color: var(--text);
}
.setting-icon {
    /* VIEWPORT: 376px~414px, VALUES: 26px~32px */
    font-size: clamp(1.625rem, -2.086rem + 15.79vw, 2rem);
}
.setting-title {
    width: 100%;
    text-align: start;
    padding-left: 20px;
    /* VIEWPORT: 281px~414px, VALUES: 14px~18px */
    font-size: clamp(0.875rem, 0.347rem + 3.01vw, 1.125rem);
    white-space: nowrap;
}
.access-icon {
    /* VIEWPORT: 281px~376px, VALUES: 30px~32px */
    font-size: clamp(1.875rem, 1.505rem + 2.11vw, 2rem);
}
.switch-bar {
    position: absolute;
    right: 15px;
    /* VIEWPORT: 376px~414px, VALUES: 30px~34px */
    height: clamp(1.875rem, -0.599rem + 10.53vw, 2.125rem);
    /* VIEWPORT: 376px~414px, VALUES: 60px~70px */
    width: clamp(3.75rem, -2.434rem + 26.32vw, 4.375rem);
    background-color: var(--background);
    border-radius: 20px;
    cursor: pointer;
}
.color-theme .switch {
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    /* VIEWPORT: 376px~414px, VALUES: 24px~28px */
    height: clamp(1.5rem, -0.974rem + 10.53vw, 1.75rem);
    width: clamp(1.5rem, -0.974rem + 10.53vw, 1.75rem);
    background-color: var(--contents);
    border-radius: 50%;
    transition: left 0.5s ease;
}
.dark-mode .color-theme .switch {
    /* VIEWPORT: 376px~414px, VALUES: 24px~28px */
    left: calc(100% - clamp(1.5rem, -0.974rem + 10.53vw, 1.75rem) - 4px);
}

@media screen and (min-width: 768px) and (orientation: portrait) {
    .settings-body {
        row-gap: 16px;
    }

    .user-info-content {
        position: relative;
        /* VIEWPORT: 376px~414px, VALUES: 50px~55px */
        height: calc(clamp(3.125rem, 0.033rem + 13.16vw, 3.438rem) * 2.2);
        margin: 20px 0 45px;
        padding-left: 20px;
        column-gap: 20px;
    }
    #user-info {
        row-gap: 5px;
        /* VIEWPORT: 281px~414px, VALUES: 12px~16px */
        font-size: clamp(0.75rem, 0.222rem + 3.01vw, 1rem);
    }
    #username {
        /* VIEWPORT: 281px~414px, VALUES: 14px~18px */
        font-size: clamp(0.875rem, 0.347rem + 3.01vw, 1.125rem);
    }
    .medal {
        right: 10px;
        /* VIEWPORT: 376px~414px, VALUES: 50px~55px */
        height: calc(clamp(3.125rem, 0.033rem + 13.16vw, 3.438rem) * 2.2 * 0.55 / 1.5);
    }
}
