.course-navigator {
    position: relative;
    /* VIEWPORT: 376px~414px, VALUES: 80px~100px */
    height: calc(100% - clamp(5rem, -7.368rem + 52.63vw, 6.25rem));
    width: 90%;
    /* VIEWPORT: 376px~414px, VALUES: 80px~100px */
    margin-top: clamp(5rem, -7.368rem + 52.63vw, 6.25rem);
    padding: 20px 0;
    display: grid;
    grid-template-rows: 20% 20% 20% 20%;
    align-items: flex-start;
    justify-items: center;
}
.if-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* VIEWPORT: 281px~414px, VALUES: 16px~24px */
    font-size: clamp(1rem, -0.056rem + 6.02vw, 1.5rem);
    color: var(--text);
    white-space: nowrap;
    display: none;
}
.task {
    position: relative;
    height: 80%;
    width: 100%;
    /* VIEWPORT: 281px~414px, VALUES: 10px~20px */
    padding: clamp(0.625rem, -0.695rem + 7.52vw, 1.25rem);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;
    background-color: var(--contents);
    border-radius: 12px;
}
.top-image {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rank-icon {
    height: 0;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c);
    /* VIEWPORT: 281px~375px, VALUES: 10px~14px */
    border-radius: 12px;
    /* VIEWPORT: 281px~414px, VALUES: 24px~30px */
    font-size: clamp(1.5rem, 0.708rem + 4.51vw, 1.875rem);
    font-weight: 800;
    color: var(--text);
}
.task-title {
    /* VIEWPORT: 281px~414px, VALUES: 24px~34px */
    font-size: clamp(1.5rem, 0.18rem + 7.52vw, 2.125rem);
    font-weight: 800;
    color: var(--text);
}
.task-icon {
    /* VIEWPORT: 376px~414px, VALUES: 48px~56px */
    font-size: clamp(3rem, -1.947rem + 21.05vw, 3.5rem);
    color: var(--c);
}
.stack-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--danger);
}
.stack-number {
    font-size: 18px;
    font-weight: 600;
    color: var(--text);
}
