{% extends 'layout.html' %}

{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <script defer src="{{ url_for('static', filename='js/homepage.js') }}"></script>
{% endblock %}

{% block body %}
    <header class="app-title">
        <i class="fa-brands fa-dev app-logo"></i>
        <span class="bland">英単語学習アプリ</span>
    </header>
    <main class="hero-content">
        <img src="{{ url_for('static', filename='images/undraw_outer_space_re_u9vd.svg') }}" class="main-img">
        <button class="play-button">α版をテストプレイ</button>
    </main>
    <!-- ============================================================================ -->
    <div class="modal">
        <i class='bx bx-x close-icon'></i>
        <img src="../static/images/undraw_welcome_cats_thqn.svg" class="welcome">
        <div class="anchor">
            <a href="{{ url_for('login') }}">login</a>
            <a href="{{ url_for('signup') }}">signup</a>
        </div>
    </div>
{% endblock %}
