{% extends 'layout.html' %}

{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <script defer src="{{ url_for('static', filename='js/homepage.js') }}"></script>
{% endblock %}

{% block body %}
    <header class="bland-header">
        <i class="fa-brands fa-dev bland-logo"></i>
        <h1 class="bland-name">英単語学習アプリ</h1>
    </header>
    <!-- ============================================================================ -->
    <main class="hero-container">
        <img src="{{ url_for('static', filename='images/undraw_stars_re_6je7.svg') }}" class="hero-image">
        <button class="start-button">α版をテストプレイ</button>
    </main>
    <!-- ============================================================================ -->
    <div class="modal-window">
        <i class='bx bx-x close-icon'></i>
        <img src="../static/images/undraw_welcome_cats_thqn.svg" class="welcome-image">
        <div class="anchor">
            <a href="{{ url_for('login') }}">login</a>
            <a href="{{ url_for('signup') }}">signup</a>
        </div>
    </div>
{% endblock %}
