{% extends 'layout.html' %}

{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <script defer src="{{ url_for('static', filename='js/homepage.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="hero-page">

        <div class="hero-header">
            <i class="fa-brands fa-dev bland-logo"></i>
            <h1 class="bland-name">英単語学習アプリ</h1>
        </div>

        <div class="hero-body">
            <img src="{{ url_for('static', filename='images/undraw_stars_re_6je7.svg') }}" class="hero-image">
            <button class="modal-button">α版をテストプレイ</button>
        </div>
        
    </div>
    
    <div class="modal-window">
        <div class="modal-container">
            <span class="material-symbols-outlined close-icon">close</span>
            <img src="../static/images/undraw_welcome_cats_thqn.svg" class="welcome-image">
            <nav class="anchor">
                <a href="{{ url_for('login') }}" id="login">login</a>
                <a href="{{ url_for('signup') }}" id="signup">signup</a>
            </nav>
        </div>
    </div>
{% endblock %}
