{% extends 'layout.html' %}

{% block title %}
    <title>My Page -Learnings-</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learnings.css') }}">
    <script defer src="{{ url_for('static', filename='js/mypage.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/learnings.js') }}"></script>
{% endblock %}

{% block body %}
    <header class="root-header">
        <a href="{{ url_for('home') }}" class="browser-back">
            <span class="material-symbols-outlined">keyboard_double_arrow_left</span>
        </a>
        <h1 class="header-title">Your Course</h1>
    </header>
    <!-- ============================================================================ -->
    <nav class="learnings">
        <a href="{{ url_for('quiz', rank='A1') }}" class="learning" style="--c:#FFCA03;">
            <div class="detail">
                <p class="rank">A1</p><br>
                <p class="information">1099単語を収録</p>
            </div>
            <div class="progress-circular" style="--bg:#e9bc1b;">
                <span class="parameter">0%</span>
            </div>
        </a>
        <a href="{{ url_for('quiz', rank='A2') }}" class="learning" style="--c:#01daa3;">
            <div class="detail">
                <p class="rank">A2</p><br>
                <p class="information">1312単語を収録</p>
            </div>
            <div class="progress-circular" style="--bg:#1fc99e;">
                <span class="parameter">0%</span>
            </div>
        </a>
        <a href="{{ url_for('quiz', rank='B1') }}" class="learning" style="--c:#f94144;">
            <div class="detail">
                <p class="rank">B1</p><br>
                <p class="information">2292単語を収録</p>
            </div>
            <div class="progress-circular" style="--bg:#e03538;">
                <span class="parameter">0%</span>
            </div>
        </a>
        <a href="{{ url_for('quiz', rank='B2') }}" class="learning" style="--c:#033FFF;">
            <div class="detail">
                <p class="rank">B2</p><br>
                <p class="information">2517単語を収録</p>
            </div>
            <div class="progress-circular" style="--bg:#0c3ad3;">
                <span class="parameter">0%</span>
            </div>
        </a>
    </nav>
{% endblock %}
