{% extends 'layout.html' %}

{% block title %}
    <title>Profile Page</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <script src="{{ url_for('static', filename='js/mypage.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/profile.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="edit-page">
        <div class="root-header">
            <a href="{{ url_for('settings') }}" class="back-icon">
                <span class="material-symbols-outlined">keyboard_double_arrow_left</span>
            </a>
            <span class="root-title">Your Profile</span>
        </div>

        <div class="edit-container">
            <img src="{{ url_for('static', filename='images/undraw_male_avatar_323b.svg') }}" class="user-icon">
            <form method="POST" class="edit-form">
                {{ form.hidden_tag() }}

                <div class="edit-field">
                    <input type="text" value="{{ ID }}">
                    <span class="material-symbols-outlined field-icon">pin</span>
                    <span class="field-title">ユーザーID</span>
                </div>
                
                <div class="edit-field unedited">
                    {{ form.username(placeholder=username, required=False) }}
                    <span class="material-symbols-outlined field-icon">account_circle</span>
                    <i class="fa-regular fa-pen-to-square edit-icon"></i>
                    <span class="field-title">ユーザー名</span>

                    {% for error in form.username.errors %} 
                        <div class="validate">
                            <span class="material-symbols-outlined error-icon">warning</span>
                            <span class="error-text">{{ error }}</span>
                        </div>
                    {% endfor %}
                </div>

                <div class="edit-field unedited">
                    {{ form.email(placeholder=email, required=False) }}
                    <span class="material-symbols-outlined field-icon">mail</span>
                    <i class="fa-regular fa-pen-to-square edit-icon"></i>
                    <span class="field-title">メールアドレス</span>

                    {% for error in form.email.errors %} 
                        <div class="validate">
                            <span class="material-symbols-outlined error-icon">warning</span>
                            <span class="error-text">{{ error }}</span>
                        </div>
                    {% endfor %}
                </div>

                <div class="edit-field">
                    <input type="text" value="{{ role }}">
                    <span class="material-symbols-outlined field-icon">school</span>
                    <span class="field-title">ユーザーロール</span>
                </div>

                <div class="edit-field signup-date">
                    <input type="text" value="{{ signup_date }}">
                    <span class="material-symbols-outlined field-icon">history</span>
                    <span class="field-title">アプリ登録日時</span>
                </div>

                <div class="button-field">
                    <input type="button" value="Edit Profile" id="edit-button">
                    {{ form.submit(id="update") }}
                </div>
            </form>
        </div>
    </div>

    <script>
        signupDate = '{{ signup_date }}';
    </script>
{% endblock %}
