{% extends 'layout.html' %}

{% block title %}
    <title>{{ rank }} Quiz Page</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">
    <script defer src="{{ url_for('static', filename='js/mypage.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/quiz.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="quiz-page">
        <div class="quiz-header">
            <div class="quiz-title">
                <span class="quiz-name">{{ rank }} Quiz</span>
                <span class="quiz-number">Question
                    <span class="current-number"></span><span class="max-number"></span>
                </span>
            </div>
            <div class="quiz-progress">
            </div>
        </div>
        
        <div class="quiz-body">
            <div class="quiz-container">
                <div class="quiz-content">
                    <p class="statement">適切な日本語訳を選択してください。
                        <span>
                        </span>
                    </p>
                    <span class="english-word"></span>
                </div>
                <div class="options-content">
                </div>
                <div class="next-content">
                </div>
            </div>
        </div>
    </div>
    
    <script>
        const rank = '{{ rank }}';
    </script>
{% endblock %}
