{% extends 'layout.html' %}

{% block title %}
    <title>Signup Page</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <script defer src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="signup-container">
        <img src="" class="signup-icon">
        <h1 class="signup-title">create account</h1>
        <form method="POST" class="signup-form">
            {{ form.hidden_tag() }}

            <div class="input-field">
                {{ form.username() }}
                <i class='bx bx-user'></i><span class="field-title">Username</span>
                {% for error in form.username.errors %} 
                    <div class="validate">
                        <span class="material-symbols-outlined error-icon">warning</span>
                        <span class="error-text">{{ error }}</span>
                    </div>
                {% endfor %}
            </div>

            <div class="input-field">
                {{ form.password() }}
                <i class='bx bx-lock-alt'></i><span class="field-title">Password</span>
                <i class='bx bx-hide show-hide'></i>
                {% for error in form.password.errors %} 
                    <div class="validate">
                        <span class="material-symbols-outlined error-icon">warning</span>
                        <span class="error-text">{{ error }}</span>
                    </div>
                {% endfor %}
            </div>

            <div class="checkbox-field">
                {{ form.privacypolicy(id="privacy-policy") }}
                <label for="privacy-policy"><a href="">利用規約</a>に同意する。</label>
                {% for error in form.privacypolicy.errors %} 
                    <div class="validate">
                        <span class="material-symbols-outlined error-icon">warning</span>
                        <span class="error-text">{{ error }}</span>
                    </div>
                {% endfor %}
            </div>

            <div class="button-field">
                {{ form.submit(id="signup") }}
            </div>
        </form>
        <div class="signup-footer">
            <span>Already have your account?</span>
            <a href="{{ url_for('login') }}" id="login">Login Now</a>
        </div>
    </div>
{% endblock %}
