{% extends 'layout.html' %}

{% block title %}
    <title>Signup Page</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <script defer src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}

{% block body %}
    <section class="signup-container">
        <img src="" class="signup-icon">
        <h1 class="signup-title">create your account</h1>
        <form method="POST" class="signup-form">
            {{ form.hidden_tag() }}

            <div class="input-field">
                {{ form.username() }}
                <i class='bx bx-user'></i><span>Username</span>
            </div>
            {% for error in form.username.errors %} 
                <div class="validate">
                    <i class='bx bx-error' ></i>{{ error }}
                </div>
            {% endfor %}

            <div class="input-field">
                {{ form.password() }}
                <i class='bx bx-lock-alt'></i><span>Password</span>
                <i class='bx bx-hide show-hide'></i>
            </div>
            {% for error in form.password.errors %} 
                <div class="validate">
                    <i class='bx bx-error' ></i>{{ error }}
                </div>
            {% endfor %}

            <div class="checkbox-field">
                {{ form.privacypolicy(id="privacy-policy") }}
                <label for="privacy-policy">Agree with <a href="">Privacy Policy</a>.</label>
            </div>
            {% for error in form.privacypolicy.errors %} 
                <div class="validate">
                    <i class='bx bx-error' ></i>{{ error }}
                </div>
            {% endfor %}

            <div class="button-field">
                {{ form.submit(id="signup") }}
            </div>
        </form>
        <footer class="signup-footer">
            <span>Already have your account?</span>
            <a href="{{ url_for('login') }}" id="login">Login Now</a>
        </footer>
    </section>
{% endblock %}
