{% extends 'layout.html' %}

{% block title %}
    <title>{{ rank }} Test Page</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    <script defer src="{{ url_for('static', filename='js/mypage.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/test.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="test-page">
        <div class="test-header">
            <div class="test-title">
                <span class="test-name">{{ rank }} Test</span>
                <span class="test-number">Question
                    <span class="current-number"></span><span class="max-number"></span>
                </span>
            </div>
            <div class="test-progress">
            </div>
        </div>

        <div class="test-body">
            <div class="test-container">
                <div class="test-content">
                    <p class="statement">適切な日本語訳を選択してください。
                        <span>
                        </span>
                    </p>
                    <span class="english-word"></span>
                </div>
                <div class="options-content">
                </div>
                <div class="next-content">
                    <a href="" class="next-button">終了する</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        const rank = '{{ rank }}';
    </script>
{% endblock %}
